{{> layout/header}}
<main class="box">
    <div class="box_ui bg-light" style="padding: 30px 200px;">
        <div class="ui_content d-flex justify-content-center">
            <div class="content_list" style="width: calc(100% - 300px);">
                <div id="list_user_modify"
                     class="list_item d-flex justify-content-center flex-column w-100 bg-white rounded-3"
                     style="margin-right: 20px; padding: 20px;">
                    <div class="item_resume">
                        <span class="resume_correction h5 fw-bold">마이 페이지 메인</span>
                        <div class="correction_list p-3 d-flex pt-0 border-top pt-3 mt-3">
                            <div class="fw-bold">취업을 위한 페이지</div>
                        </div>
                    </div>
                </div>
            </div>
            {{> layout/sidebar}}
        </div>
    </div>
</main>

{{> layout/footer}}