<footer style="padding: 30px 200px;">
    <div class="border-top border-top-0">
        <span class="h4">Created by Team 3</span>
        <hr>
        <div class="d-flex lh-lg">
            <a href="#" class="text-black text-decoration-none pe-3">회사소개</a>
            <a href="#" class="text-black text-decoration-none pe-3">고객센터</a>
            <a href="#" class="text-black text-decoration-none pe-3">오시는길</a>
            <a href="#" class="text-black text-decoration-none pe-3">서비스 소개</a>
            <a href="#" class="text-black text-decoration-none pe-3">서비스 약관</a>
            <a href="#" class="text-black text-decoration-none pe-3">도움말</a>
        </div>
        <hr>
        <div class="d-flex flex-column">
            <span class="lh-lg">☎ 010-2222-7777</span>
            <span class="fw-bold">© 2023. Alicorn, Inc. all rights reserved.</span>
        </div>
    </div>
</footer>
</body>

</html>