<!-- 사이드바 -->
<div class="content_sidebar d-flex flex-column bg-white rounded-3 h-100"
     style="width: 300px;margin: 0px 20px;padding: 20px;">
    <span class="h5 fw-bold pb-2">내 프로필</span>
    <div class="d-flex justify-content-center flex-column flex-wrap">
        <img src="/images/{{sessionUser.image}}" style="height: 250px; width: 200px;"
             class="rounded mx-auto d-block border border-dark">
        <span class="text-center pt-1 fw-bold" style="font-size: 10px">※등록한 이미지가 공고, 이력서에 등록됩니다</span>
    </div>
    <hr>
    <span class="h5 fw-bold pb-2">내 목록</span>
    <form class="sidebar_box d-flex flex-column mb-3" action="#">
        <a href="/api/users/{{sessionUser.id}}/update-form"
           class="sidebar_link text-black text-decoration-none pb-3">회원 정보 수정</a>
        <a href="/api/notices"
           class="sidebar_link text-black text-decoration-none pb-3">공고 작성</a>
        <a href="/api/scraps/{{sessionUser.id}}" class="sidebar_link text-black text-decoration-none pb-3">스크랩</a>
        <a href="/api/myPages/{{sessionUser.id}}/select-list"
           class="sidebar_link text-black text-decoration-none pb-3">지원 현황</a>
        <a href="/" class="sidebar_link text-black text-decoration-none">회원탈퇴</a>
    </form>
</div>