{{> layout/header}}

<div class="mw-100 bg-light" style="padding: 30px 200px;">
    <div class="d-flex">
        <div class="container">
            <div class="d-flex">
                <h3 class="container d-flex pb-3">이력서 상세보기</h3>
                <!--추가 수정 필요-->
                <!--스크랩 부분-->
                <form action="/scrap/{{sessionUser.id}}/save" method="post" class="pe-3">
                    <button onclick="scrap_btn()" id="resume_scrap"
                            class="fa-regular fa-bookmark text-warning"></button>
                </form>
                <script>
                    function scrap_btn() {
                        if ($("#resume_scrap").hasClass("fa-solid")) { // 스크랩 하기
                            $("#resume_scrap").addClass("fa-regular");
                            $("#resume_scrap").removeClass("fa-solid");
                        } else if ($("#resume_scrap").hasClass("fa-regular")) { // 스크랩 취소 하기
                            $("#resume_scrap").addClass("fa-solid");
                            $("#resume_scrap").removeClass("fa-regular");
                        }
                    }
                </script>
            </div>

            <!-- 기본 정보 -->
            <div class="container bg-white rounded-3 border border-white pt-3 pb-1">
                <h4>기본정보</h4>
                <div class="mb-3 mt-1">
                    <label class="form-label">E-mail</label>
                    <div class="card">
                        <div class="card-body p-2">
                            {{resumeDetail.email}}
                        </div>
                    </div>

                    <div class="mb-3 mt-1">
                        <label class="form-label">휴대전화</label>
                        <div class="card">
                            <div class="card-body p-2">
                                {{resumeDetail.tel}}
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 mt-1">
                        <label class="form-label">거주지</label>
                        <div class="card">
                            <div class="card-body p-2">
                                {{resumeDetail.address}}
                            </div>
                        </div>
                    </div>
                    <h4>학력</h4>
                    <div class="mb-3 mt-1">
                        <label class="form-label">학교</label>
                        <div class="card">
                            <div class="card-body p-2">
                                {{resumeDetail.education}}
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 mt-1 row">
                        <label class="form-label">전공</label>
                        <div class="col-sm">
                            <div class="card">
                                <div class="card-body p-2">
                                    {{resumeDetail.major}}
                                </div>
                            </div>
                        </div>
                    </div>


                    <h4>경력</h4>
                    <div class="mb-3 mt-1">
                        <label class="form-label">기업명</label>
                        <div class="card">
                            <div class="card-body p-2">
                                {{resumeDetail.career}}
                            </div>
                        </div>
                    </div>

                    <h4>자격증</h4>
                    <div class="mb-3 mt-1">
                        <label class="form-label">자격증명</label>
                        <div class="card">
                            <div class="card-body p-2">
                                {{resumeDetail.license}}
                            </div>
                        </div>
                    </div>

                    <h4>기술</h4>
                    <label class="form-label">보유 기술</label>
                    <div class="mb-3 mt-1 row row-cols-md-5 g-2">
                        {{#resumeDetail.skills}}
                            {{#name}}
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body p-2">
                                            {{.}}
                                        </div>
                                    </div>
                                </div>
                            {{/name}}
                            {{^name}}{{/name}}
                        {{/resumeDetail.skills}}
                        <!--                        <div class="form-check form-check-inline col">-->
                        <!--                            <input class="form-check-input" type="checkbox" value="" checked disabled>-->
                        <!--                            <label class="form-check-label">Java</label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check form-check-inline col">-->
                        <!--                            <input class="form-check-input" type="checkbox" value="">-->
                        <!--                            <label class="form-check-label">JavaScript</label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check form-check-inline col">-->
                        <!--                            <input class="form-check-input" type="checkbox" value="">-->
                        <!--                            <label class="form-check-label">jQuery</label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check form-check-inline col">-->
                        <!--                            <input class="form-check-input" type="checkbox" value="" checked disabled>-->
                        <!--                            <label class="form-check-label">Spring</label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check form-check-inline col">-->
                        <!--                            <input class="form-check-input" type="checkbox" value="">-->
                        <!--                            <label class="form-check-label">Git</label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check form-check-inline col">-->
                        <!--                            <input class="form-check-input" type="checkbox" value="" checked disabled>-->
                        <!--                            <label class="form-check-label">JSP</label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check form-check-inline col">-->
                        <!--                            <input class="form-check-input" type="checkbox" value="">-->
                        <!--                            <label class="form-check-label">Android</label>-->
                        <!--                        </div>-->
                        <!--                        <div class="form-check form-check-inline col">-->
                        <!--                            <input class="form-check-input" type="checkbox" value="">-->
                        <!--                            <label class="form-check-label">MySQL</label>-->
                        <!--                        </div>-->
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-center mt-3 pb-3 mt-4">
                        <form action="/resumes/{{resumeDetail.id}}/update-form" method="get">
                            <button class="btn btn-secondary">수정하기</button>
                        </form>
                        <button onclick="history.back()"
                                type="button"
                                class="btn btn-outline-secondary">이전
                        </button>
                    </div>
                </div>
            </div>
        </div>
        {{> layout/sidebar}}
    </div>
</div>

{{> layout/footer}}