{{> layout/header}}

<div class="mw-100 bg-light" style="padding: 30px 200px;">
    <div class="d-flex">
        <div class="container">
            <h3 class="container d-flex pb-3">이력서 작성</h3>

            <!-- 기본 정보 -->
            <div class="container bg-white rounded-3 border border-white pt-3 pb-1 mt-4">
                <h4>기본정보</h4>
                <div class="mb-3 mt-1">
                    <label class="form-label">이름</label>
                    <input type="text" class="form-control" id="username" placeholder="이름을 입력하세요." name="username"
                           value="{{userInfo.name}}" disabled>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="email을 입력하세요." name="email"
                           value="{{userInfo.email}}" disabled>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">휴대전화</label>
                    <input type="number" class="form-control" id="tel" placeholder="전화번호를 입력하세요."
                           name="tel" value="{{userInfo.tel}}" disabled>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">거주지</label>
                    <input type="text" class="form-control" id="address" placeholder="주소를 입력하세요." name="address"
                           value="{{userInfo.address}}" disabled>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label" disabled>이미지 업로드</label><br>
                    <input type="file" id="image" accept="image/*" name="image">
                </div>
                <div class="mb-3 mt-1">
                    <span class="fw-small color-danger">※기본 정보는 회원정보 수정에서 변경하여 주세요</span>
                </div>
            </div>

            <form action="/resume/save" method="post">
                <!-- 이력서 제목 -->
                <div class="container bg-white rounded-3 border border-white pt-3 pb-1 mt-4">
                    <h4>제목</h4>
                    <div class="mb-3 mt-1">
                        <input type="text" class="form-control" id="title" placeholder="이름을 입력하세요." name="title">
                    </div>
                    <h4>학력</h4>
                    <div class="mb-3 mt-1">
                        <label class="form-label">학교명</label>
                        <div>
                            <input type="text" class="form-control" id="education" placeholder="학교명을 입력하세요."
                                   name="education">
                        </div>
                    </div>
                    <div class="mb-3 mt-1">
                        <label class="form-label">전공</label>
                        <div>
                            <input type="text" class="form-control" id="major" placeholder="전공을 입력하세요."
                                   name="major">
                        </div>
                    </div>
                    <h4>경력</h4>
                    <div class="mb-3 mt-1">
                        <input type="text" class="form-control" id="career" placeholder="기업명을 입력하세요." name="career">
                    </div>
                    <h4>자격증</h4>
                    <div class="mb-3 mt-1">
                        <input type="text" class="form-control" id="license" placeholder="자격증명을 입력하세요." name="license">
                    </div>
                    <div class="mb-3 mt-1 d-md-flex justify-content-center">
                        <!--<button class="btn btn-secondary">이력서 저장</button>-->
                    </div>
                </div>


                <!-- 보유 기술 -->

                <div class="container bg-white rounded-3 border border-white pt-3 pb-1 mt-4">
                    <h4>기술</h4>
                    <label class="form-label">보유 기술 선택</label>
                    <div class="mb-3 mt-1 row-cols-6">
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" value="Java" name="skillNames">
                            <label class="form-check-label">Java</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" value="JavaScript" name="skillNames">
                            <label class="form-check-label">JavaScript</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" value="jQuery" name="skillNames">
                            <label class="form-check-label">jQuery</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" value="Spring" name="skillNames">
                            <label class="form-check-label">Spring</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" value="Git" name="skillNames">
                            <label class="form-check-label">Git</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" value="JSP" name="skillNames">
                            <label class="form-check-label">JSP</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" value="Android" name="skillNames">
                            <label class="form-check-label">Android</label>
                        </div>
                        <div class="form-check form-check-inline col">
                            <input class="form-check-input" type="checkbox" value="MySQL" name="skillNames">
                            <label class="form-check-label">MySQL</label>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-center mt-3 mb-3">
                        <button class="btn btn-secondary">선택 완료</button>
                    </div>
                </div>
            </form>
        </div>
        {{> layout/sidebar}}
    </div>
</div>

{{> layout/footer}}