{{> layout/header}}

<!-- boardDetail -->
<section style="padding: 20px; background-color: #f8f9fa; padding: 30px 200px;">
    <div class="container bg-white p-3 rounded-3">
        <header class="board_title">
            <h1><strong>커뮤니티 게시판</strong></h1>
            <p>여러분의 의견을 자유롭게 작성해 주세요!</p>
        </header>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title"
                     style="padding: 20px 15px; border-top: 2px solid; border-bottom: 1px dashed #ddd; font-size: 2rem;">
                    {{board.title}}
                </div>
                <div class="info d-flex justify-content-between"
                     style="padding: 15px; border-bottom: 1px solid #999; font-size: 18px;">
                </div>
                <div class="content"
                     style="padding: 15px; line-height: 160%; font-size: 25px;">
                    {{board.content}}<br>
                    <br>
                    <br>
                </div>
                <div class="bt_list" style="text-align: center; margin-top: 15px;">
                    <a href="/board" class="on"
                       style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border: none; margin-right: 10px;">목록</a>

                </div>
                <div class="bt_wrap" style="text-align: end; margin-top: 15px">
                    <a href="/board/1/updateForm" class="on"
                       style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border: 2px solid; margin-right: 10px;">수정</a>
                    <form action="/board/1/delete" method="post" style="display: inline-block; margin-right: 10px;">
                        <button class="on" style="padding: 9px 18px; background-color: #FF7A21">삭제</button>
                    </form>
                </div>
                <div class="card-body" style="margin-top: 30px;">
                <!--댓글-->
                    <form action="/reply/save" method="post">
                        <input type="hidden" name="boardId" value="{{board.id}}">
                        <textarea class="form-control" rows="2" name="comment"></textarea>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-outline-primary mt-1">댓글등록</button>
                        </div>
                    </form>
                </div>
                <!--댓글 목록-->
                <div class="card-footer">
                    <b>댓글리스트</b>
                </div>
                <div class="list-group">

                    {{#replyList}}
                        <!-- 댓글아이템 -->
                        <div class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="d-flex">
                                <div class="px-1 me-1 bg-primary text-white rounded">{{username}}</div>
                                <div>{{comment}}</div>
                            </div>

                            {{#replyOwner}}
                                <form action="/reply/{{id}}/delete" method="post">
                                    <button class="btn">🗑</button>
                                </form>
                            {{/replyOwner}}
                        </div>
                    {{/replyList}}
                </div>
            </div>
        </div>
    </div>
</section>


{{> layout/footer}}