{{> layout/header}}

<!-- boardDetail -->
<section style="padding: 20px; background-color: #f8f9fa; padding: 30px 200px;">
    <div class="container bg-white p-3 rounded-3">
        <header class="board_title">
            <h1><strong>커뮤니티 게시판</strong></h1>
            <p>여러분의 의견을 자유롭게 작성해 주세요!</p>
        </header>
        <div class="board_view_wrap">
            <div class="board_view">
                <div class="title"
                     style="padding: 20px 15px; border-top: 2px solid; border-bottom: 1px dashed #ddd; font-size: 2rem;">
                    {{board.title}}
                </div>
                <div class="info d-flex justify-content-between"
                     style="padding: 15px; border-bottom: 1px solid #999; font-size: 18px;">
                </div>
                <div class="content"
                     style="padding: 15px; line-height: 160%; font-size: 25px;">
                    {{board.content}}<br>
                    <br>
                    <br>
                </div>
                <div class="bt_list" style="text-align: center; margin-top: 15px;">
                    <a href="/board" class="on"
                       style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border: none; margin-right: 10px;">목록</a>
                    <a href="/board/1/updateForm" class="on"
                       style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border: none; margin-right: 10px;">수정</a>
                </div>
                <div class="bt_wrap" style="text-align: end; margin-top: 15px">
                    <form action="/board/1/delete" method="post" style="display: inline-block; padding: 10px 20px; color: white; text-decoration: none; border: none; margin-right: 10px;">
                        <button class="on" style="padding: 10px 20px; background-color: #FF7A21" >삭제</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


{{> layout/footer}}