{{> layout/header}}

<!-- boardList -->
<section class="mw-1000 d-flex justify-content-center"
         style="padding: 20px; background-color: #f8f9fa; padding: 30px 200px;">

    <div class="container bg-white p-3 rounded-3">
        <div class="board_title">
            <h1><strong>커뮤니티 게시판</strong></h1>
            <div class="board_subtitle">
                <p>여러분의 의견을 자유롭게 작성해 주세요!</p>
            </div>
        </div>
        <table style="width: 100%; min-width: 320px; margin-bottom: 30px;">
            <tr style="background-color: antiquewhite; border-top: 1px solid #999; border-bottom:1px solid #999;">
                <th style="padding: 10px; text-align: center;">번호</th>
                <th style="padding: 10px; text-align: center;">제목</th>
                <th style="padding: 10px; text-align: center;">작성자</th>
                <th style="padding: 10px; text-align: center;">작성일</th>

            </tr>
            {{#boardList}}
                <tr style="border-bottom: 1px solid #ddd;">
                    <td style="padding: 10px; text-align: center;">{{id}}</td>
                    <td style="padding: 10px; text-align: center;"><a href="/board/{{id}}">{{content}}</a></td>
                    <td style="padding: 10px; text-align: center;">{{user_id}}</td>
                    <td style="padding: 10px; text-align: center;">{{created_at}}</td>
                </tr>
            {{/boardList}}
        </table>

        <div class="board_page" style="text-align: center;  margin-bottom: 20px;">
            <a href="#" class="bt_first" aria-label="첫 페이지로 이동"><<</a>
            <a href="#" class="bt_prev" aria-label="이전 페이지로 이동"><</a>
            <a href="#" class="num active" aria-label="페이지 1">1</a>
            <a href="#" class="num" aria-label="페이지 2">2</a>
            <a href="#" class="bt_next" aria-label="다음 페이지로 이동">></a>
            <a href="#" class="bt_last" aria-label="마지막 페이지로 이동">>></a>
        </div>
        <div class="bt_wrap" style="text-align: center;">
            <a href="/board/saveForm" class="on"
               style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border: none; margin-right: 10px;">등록</a>
            <a href="/board" class="on"
               style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border: none;">홈</a>
        </div>

        <form action="/board/1" class="d-flex justify-content-end mb-30">
            <input class="me-3" type="text" placeholder="제목을 입력하세요">
            <button class="btn btn-primary" type="submit">검색</button>
        </form>
    </div>
</section>
{{> layout/footer}}}