{{> layout/header}}

<!-- boardWrite -->
<section style="padding: 20px; background-color: #f8f9fa; padding: 30px 200px;">

    <div class="container bg-white p-3 rounded-3">
        <header class="board_title">
            <h1><strong>커뮤니티 게시판</strong></h1>
            <p>여러분의 의견을 자유롭게 작성해 주세요!</p>
        </header>
        <div class="card border-danger">
            <div class="card-header"><b>자유롭게 의견을 내주세요</b></div>
            <div class="card-body">
                <form action="/board/save" method="post">
                    <div class="mb-3">
                        <input type="text" class="form-control" placeholder="제목을 입력하세요" name="title" required>
                    </div>
                    <div class="mb-3">
                        <textarea class="form-control" rows="10" name="content" placeholder="내용을 입력하세요"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary form-control">등록</button>
                </form>
            </div>
        </div>
        <div class="bt_wrap" style="text-align: center; margin-top: 15px;">
            <a href="/board" class="on"
               style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border: none;">취소</a>
        </div>
    </div>

</section>


{{> layout/footer}}