{{> layout/header}}
{{#notice}}
    <form action="/apply/{{id}}/save" class="bg-light" method="post">
        <input hidden="hidden" id="noticeId" name="noticeId" value="{{id}}"></input>
        <div class="d-flex justify-content-center" style="padding: 30px 200px;">
            <div class="d-flex flex-column justify-content-center p-4 border rounded-3 border-white bg-white">
                <div>
                    <h2><b>{{title}}</b></h2>
                    <b>{{username}} </b>
                    <div>
                        <i class="fa-solid fa-calendar-days text-body-tertiary"></i>
                        <span class="text-body-tertiary">{{deadline}} 마감</span>
                        <span class="text-body-tertiary m-4">{{createdAt}} 수정</span>
                    </div>
                </div>
                <hr>
                <h5 class="mb-2">고용형태</h5>
                <div>{{type}}</div>
                <hr>
                <h5 class="mb-2">업무 기술 / 활동 분야</h5>
                <div class="d-inline-flex gap-1 mt-2">
                    {{#field}}
                        <a class="btn disabled" aria-disabled="true" role="button" data-bs-toggle="button">{{field}}</a>
                    {{/field}}
                </div>
                <hr>
                <h5 class="mb-2">채용 상세</h5>
                <div>
                    {{content}}
                </div>
                <hr>
                <h5 class="mb-2">근무지</h5>
                <div><b>{{username}}</b></div>
                <div>{{workPlace}}</div>
                <hr>
                <h5 class="mb-2">기업 주소</h5>
                <div><i class="fa-solid fa-city me-1"></i><b>{{username}}</b></div>
                <div>{{address}}</div>
                <hr>
                <h5 class="mb-2">설립일</h5>
                <div>{{birth}}</div>
                <hr>
                <h5 class="mb-2">email</h5>
                <div>{{email}}</div>
                <hr>
                <h5 class="mb-2">tel</h5>
                <div>{{tel}}</div>
                <hr>
                <h5 class="mb-2">이런 기술을 가진 지원자들에게 추천합니다!</h5>
                <div class="d-inline-flex gap-1 mt-2">
                    {{#skills}}
                        <a class="btn disabled" aria-disabled="true" role="button"
                           data-bs-toggle="button">{{name}}</a>
                    {{/skills}}
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-center mt-3 pb-5">
            <button type="submit" class="btn btn-secondary">이력서 제출</button>
        </div>
    </form>

    {{#notice.role}}
        <div class="d-grid gap-2 d-md-flex justify-content-center mt-3 pb-5">
            <form action="/notice/{{noticeId}}/updateForm">
                <button class="btn btn-secondary">공고 수정</button>
            </form>

            <form action="/notice/{{noticeId}}/delete" method="post">
                <button class="btn btn-secondary">공고 삭제</button>
            </form>
        </div>
        <!--스크랩 부분-->
        <form action="/scrap/{{sessionUser.id}}/save" method="post">
            <button onclick="scrap_btn()" id="resume_scrap"
                    class="fa-regular fa-bookmark text-warning border-0"></button>
            <input id="noticeId" name="noticeId" type="hidden" value="{{notice.noticeId}}"></input>
            <input id="role" name="role" type="hidden" value="{{notice.role}}"></input>
        </form>
        <script>
            function scrap_btn() {
                if ($("#resume_scrap").hasClass("fa-solid")) { // 스크랩 하기
                    $("#resume_scrap").addClass("fa-regular");
                    $("#resume_scrap").removeClass("fa-solid");
                } else if ($("#resume_scrap").hasClass("fa-regular")) { // 스크랩 취소 하기
                    $("#resume_scrap").addClass("fa-solid");
                    $("#resume_scrap").removeClass("fa-regular");
                }
            }
        </script>
    {{/notice.role}}
{{/notice}}

{{> layout/footer}}