{{> layout/header}}

    <div class="bg-light mw-100 m-0 d-flex justify-content-center" style="padding: 30px 150px;">
        <div class="container mx-5 border bg-white rounded-3 border-white pt-3 p-3">
            <div>
                <img src="/images/company_logo.png" style="width: 8%; height: 8%;">
                <h2><b>어라운드더코너</b></h2>
                <h5>Around The Corner</h5>
            </div>
            <div class="card" style="text-align: center; margin: 30px;">
                <img src="/images/company.png" class="card-img-top" alt="...">
                <div class="card text-center">
    
                    <ul class="nav nav-tabs">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#a">기업 소개</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#b">구성원</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#c">기업 정보</a>
                        </li>
                    </ul>
    
    
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="a" style="margin: 10px;">
                            <h5 class="card-title"><b>기업 문화</b></h5>
                            <p class="card-text">
                                - 자유로운 연차/반차 사용을 통해 팀의 생산성 향상을 지원합니다<br>
                                - 주제에 상관없이 자유로운 의견 공유를 지향합니다<br>
                                - 팀원 각자의 의견과 전문 영역을 존중하여 의사소통합니다<br>
                            </p>
                            <a href="https://www.arndcn.com" class="btn" style="background-color:#e7585f; color: azure;">회사
                                홈페이지</a>
                        </div>
    
                        <div class="tab-pane fade" id="b" style="margin: 10px;">
                            <h5 class="card-title"><b>구성원</b></h5>
                            <p class="card-text">
                                - 구성원1<br>
                                - 구성원2<br>
                                - 구성원3<br>
                                - 구성원4<br>
                                - 구성원5<br>
                            </p>
                        </div>
    
                        <div class="tab-pane fade" id="c" style="margin: 10px;">
                            <h5 class="card-title"><b>기업 정보</b></h5>
                            <p class="card-text">
                                - 있겠냐?
                            </p>
                            <a href="https://www.arndcn.com" class="btn" style="background-color:#e7585f; color: azure;">회사
                                홈페이지</a>
                        </div>
    
                    </div>
                </div>
            </div>
        </div>
    </div>


{{> layout/footer}}