{{> layout/header}}

<div class="mw-100 bg-light" style="padding: 30px 200px;">
    <div class="d-flex">
        <form action="/notice/save" method="post" class="container">
            <h3 class="container d-flex pb-3">기업 공고 작성</h3>
            <!-- 기본 정보 -->
            <div class="container bg-white rounded-3 border border-white pt-3 pb-1">
                <h4>기본정보</h4>
                <div class="mb-3 mt-1">
                    <label class="form-label">기업 이름</label>
                    <input type="text" class="form-control" id="company_name" placeholder="기업 이름을 입력하세요."
                           name="company_name" value="{{notice.username}}">
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="이메일을 입력하세요." name="email" value="{{notice.email}}">
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">연락처</label>
                    <input type="number" class="form-control" id="tel" placeholder="연락처를 입력하세요."
                           name="tel" value="{{notice.tel}}">
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">기업 주소</label>
                    <input type="text" class="form-control" id="address" placeholder="기업 주소를 입력하세요." name="address" value="{{notice.address}}">
                </div>

                <label class="form-label">설립일</label>
                <div class="col-sm-5 mb-3">
                    <input type="text" class="form-control" id="birth" name="birth" value="{{notice.birth}}">
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">이미지 업로드</label><br>
                    <input type="file" id="image" accept="image/*" name="image">
                </div>
            </div>

            <!-- 공고 내용 -->
            <div class="container bg-white rounded-3 border border-white pt-3 pb-1 mt-4">
                <h4>공고 내용</h4>
                <div class="mb-3 mt-1">
                    <label class="form-label">공고 제목</label>
                    <input type="text" class="form-control" id="title" name="title" value="{{notice.title}}" required>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">고용 형태</label>
                    <input type="text" class="form-control" id="type" placeholder="예: 계약직, 정규직, 파견직" name="type" value="{{notice.type}}" required>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">분야</label>
                    <input type="text" class="form-control" id="field" placeholder="예: 백엔드 개발자, 프론트엔드 개발자" name="field" value="{{notice.field}}" required>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">근무지</label>
                    <input type="text" class="form-control" id="work_place" placeholder="근무지를 입력하세요."
                           name="work_place" value="{{notice.work_place}}">
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">공고 마감일</label>
                    <input type="text" class="form-control" id="deadline" placeholder="예: 20240506"
                           name="deadline" value="{{notice.deadline}}">
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">상세 내용</label>
                    <textarea class="form-control" id="content" placeholder="상세 내용을 입력하세요."
                              name="content">{{notice.content}}</textarea>
                </div>
            </div>

            <div class="d-grid gap-2 d-md-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-secondary">작성완료
                </button>
                <button onclick="location.href='/myPage'"
                        type="button"
                        class="btn btn-outline-secondary">취소
                </button>
            </div>
        </form>
        {{> layout/sidebar}}
    </div>
</div>

{{> layout/footer}}