{{> layout/header}}

<div class="mw-100 bg-light" style="padding: 30px 200px;">
    <div class="d-flex">
        <form action="/api/notices" method="post" class="container">
            <h3 class="container d-flex pb-3">기업 공고 작성</h3>
            <!-- 기본 정보 -->
            <div class="container bg-white rounded-3 border border-white pt-3 pb-1">
                <h4>기본 정보</h4>
                <div class="mb-3 mt-1">
                    <label class="form-label">기업 이름</label>
                    <input type="text" class="form-control" id="username" placeholder="기업 이름을 입력하세요."
                           name="username" value="{{userInfo.username}}" disabled>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" placeholder="이메일을 입력하세요." name="email"
                           value="{{userInfo.email}}" disabled>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">연락처</label>
                    <input type="number" class="form-control" id="tel" placeholder="연락처를 입력하세요."
                           name="tel" value="{{userInfo.tel}}" disabled>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">기업 주소</label>
                    <input type="text" class="form-control" id="address" placeholder="기업 주소를 입력하세요." name="address"
                           value="{{userInfo.address}}" disabled>
                </div>

                <label class="form-label">설립일</label>
                <div class="col-sm-5 mb-3">
                    <input type="text" class="form-control" id="birth" name="birth" value="{{userInfo.birth}}" disabled>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">이미지 업로드</label><br>
                    <input type="file" id="image" accept="image/*" name="image" disabled>
                </div>
                <h5 style="color: #8888AA">* [마이페이지] - [회원 정보 수정]에서 기본 정보를 수정할 수 있습니다</h5>
            </div>

            <!-- 공고 내용 -->
            <div class="container bg-white rounded-3 border border-white pt-3 pb-1 mt-4">
                <h4>공고 내용</h4>
                <div class="mb-3 mt-1">
                    <label class="form-label">공고 제목</label>
                    <input type="text" class="form-control" id="title" name="title" required>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">고용 형태</label>
                    <input type="text" class="form-control" id="type" placeholder="예: 계약직, 정규직, 파견직" name="type"
                           required>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">분야</label>
                    <input type="text" class="form-control" id="field" placeholder="예: 백엔드 개발자, 프론트엔드 개발자" name="field"
                           required>
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">근무지</label>
                    <input type="text" class="form-control" id="work_place" placeholder="근무지를 입력하세요."
                           name="workPlace">
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">공고 마감일</label>
                    <input type="text" class="form-control" id="deadline" placeholder="예: 20240506"
                           name="deadline">
                </div>

                <div class="mb-3 mt-1">
                    <label class="form-label">상세 내용</label>
                    <textarea class="form-control" id="content" placeholder="상세 내용을 입력하세요."
                              name="content"></textarea>
                </div>
            </div>

            <!-- 보유 기술 -->
            <div class="container bg-white rounded-3 border border-white pt-3 pb-1 mt-4">
                <h4>기술</h4>
                <label class="form-label">보유 기술 선택</label>
                <div class="mb-3 mt-1 row-cols-6">
                    <div class="form-check form-check-inline col">
                        <input class="form-check-input" type="checkbox" value="Java" name="skillNames">
                        <label class="form-check-label">Java</label>
                    </div>
                    <div class="form-check form-check-inline col">
                        <input class="form-check-input" type="checkbox" value="JavaScript" name="skillNames">
                        <label class="form-check-label">JavaScript</label>
                    </div>
                    <div class="form-check form-check-inline col">
                        <input class="form-check-input" type="checkbox" value="jQuery" name="skillNames">
                        <label class="form-check-label">jQuery</label>
                    </div>
                    <div class="form-check form-check-inline col">
                        <input class="form-check-input" type="checkbox" value="Spring" name="skillNames">
                        <label class="form-check-label">Spring</label>
                    </div>
                    <div class="form-check form-check-inline col">
                        <input class="form-check-input" type="checkbox" value="Git" name="skillNames">
                        <label class="form-check-label">Git</label>
                    </div>
                    <div class="form-check form-check-inline col">
                        <input class="form-check-input" type="checkbox" value="JSP" name="skillNames">
                        <label class="form-check-label">JSP</label>
                    </div>
                    <div class="form-check form-check-inline col">
                        <input class="form-check-input" type="checkbox" value="Android" name="skillNames">
                        <label class="form-check-label">Android</label>
                    </div>
                    <div class="form-check form-check-inline col">
                        <input class="form-check-input" type="checkbox" value="MySQL" name="skillNames">
                        <label class="form-check-label">MySQL</label>
                    </div>
                </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-center mt-3">
                <button type="submit" class="btn btn-secondary">등록 완료
                </button>
                <button onclick="location.href='/'"
                        type="button"
                        class="btn btn-outline-secondary">취소
                </button>
            </div>
        </form>
        {{> layout/sidebar}}
    </div>
</div>

{{> layout/footer}}