{{> layout/header}}

<main class="box">
    <div class="box_ui bg-light" style="padding: 30px 200px;">
        <div class="ui_content d-flex justify-content-center">
            <div class="content_list" style="width: calc(100% - 300px);">

                <!-- 스크랩 페이지 화면 -->
                <section class="content d-flex justify-content-center">
                    <div class="container"
                         style="padding: 0 39px 39px; background-color: #fff; border: 1px solid #dce1eb;">
                        <div class="scrap_title"
                             style="font-weight: bold; font-size: 20px; line-height: 140%; color: #333; letter-spacing: -0.2px; margin: 60px 0 20px 0;">
                            <h3 class="scrap_title_1">스크랩 공고</h3>
                            <div class="scrap_sort"
                                 style="padding-left: 11px; margin-top: 30px; font-size: 0;">
                                <p class="scrap_subtitle"
                                   style="display: inline-block; margin-right: 6px; font-size: 13px; color: #888; vertical-align: middle;">
                                    "전체 4개"
                                    <span style="padding-left: 15px; color: #272727;">※ 최근 1년 동안 스크랩한 공고를 열람할
                                            수
                                            있습니다.</span>
                                </p>
                            </div>
                        </div>
                        <div class="script_item" style="width: 100%; margin-top: 25px;">
                            <hr>
                            <div class="script_item_box d-flex justify-content-left ml-5" style="min-height: 10px;">
                                <div class="script_detail">
                                    <div class="company_name h5 fs-5">(주)회사4</div>
                                    <div class="company_notice" style="font-size: 18px; font-weight: bold;">개발자를 모집합니다
                                    </div>
                                    <div class="company_request"
                                         style="display: block; margin-top: 2px; margin-right: 6px; font-size: 13px; color: #888; vertical-align: middle;">
                                        부산, 초대졸, 경력무관, 인턴
                                    </div>
                                    <div class="company_date"
                                         style="display: block; margin-top: 2px; margin-right: 6px; font-size: 15px; color: #88A; vertical-align: middle;">
                                        3/21까지
                                    </div>
                                </div>
                            </div>
                            <div class="bt_wrap" style="text-align: right; margin-top: 15px;">
                                <a href="../notice/detail.mustache" class="on"
                                   style="display: inline-block; padding: 10px 20px; background-color: #FF7A21; color: white; text-decoration: none; border: none; margin-right: 10px;">즉시지원</a>
                                <a href="#" class="on"
                                   style="display: inline-block; padding: 10px 20px; background-color: white; color: #EB407A; text-decoration: none; border: none;">삭제</a>
                            </div>
                            <hr>
                        </div>

                </section>


            </div>

            <!-- 사이드바 -->
            <div class="content_sidebar d-flex flex-column bg-white rounded-3 h-100"
                 style="width: 300px;margin: 0px 20px;padding: 20px;">
                <span class="h5 fw-bold pb-2">내 목록</span>
                <form class="sidebar_box d-flex flex-column mb-3" action="#">
                    <a href="../user/updateForm.mustache"
                       class="sidebar_link text-black text-decoration-none pb-3">회원 정보 수정</a>
                    <a href="../resume/saveForm.mustache"
                       class="sidebar_link text-black text-decoration-none pb-3">이력서 작성</a>
                    <a href="../sclap/sclap.html" class="sidebar_link text-black text-decoration-none pb-3">스크랩</a>
                    <a href="../userMyPage/myPagePickList.html"
                       class="sidebar_link text-black text-decoration-none pb-3">지원 현황</a>
                    <a href="../index/index.html" class="sidebar_link text-black text-decoration-none">회원탈퇴</a>
                </form>
            </div>
        </div>

        <div class="scrap_page d-flex justify-content-center" style="margin-top: 20px; margin-right: 300px;">
            <a href="#" class="bt_first" aria-label="첫 페이지로 이동"><<</a>
            <a href="#" class="bt_prev" aria-label="이전 페이지로 이동"><</a>
            <a href="#" class="num active" aria-label="페이지 1">1</a>
            <a href="#" class="bt_next" aria-label="다음 페이지로 이동">></a>
            <a href="#" class="bt_last" aria-label="마지막 페이지로 이동">>></a>
        </div>
    </div>
</main>

{{> layout/footer}}