{{> layout/header}}

<div class="mx-100 bg-light d-flex justify-content-center" style="padding: 30px 150px;">
    <div class="container bg-white rounded-3 border border-white p-3" style="margin: 0px 60px;">
        <h2>로그인</h2>


        <div class="btn-group">
            <div class="form-check ps-0">
                <input name="user_check" type="radio" value="0" checked>개인
                <input name="user_check" type="radio" value="1">기업
            </div>
        </div>

        <form action="/user/login" method="post">
            <div class="mb-3 mt-3">
                <label for="text">ID:</label>
                <input type="text" class="form-control" id="username" placeholder="아이디를 입력하세요" name="username" value="ssar">
            </div>

            <div class="mb-3">
                <label for="pwd">비밀번호:</label>
                <input type="password" class="form-control" id="password" placeholder="비밀번호를 입력하세요" name="password"  value="1234">
            </div>
            <button type="submit" method="post"
                    class="btn btn-primary">로그인
            </button>
        </form>
    </div>
</div>

{{> layout/footer}}