{{> layout/header}}

<main class="box">
    <div class="box_ui bg-light" style="padding: 30px 200px;">
        <div class="ui_content d-flex justify-content-center">
            <div class="content_list" style="width: calc(100% - 300px);">
                <!-- 회원 정보 수정 화면 -->
                <div id="list_user_modify"
                     class="list_item d-flex justify-content-center flex-column w-100 bg-white rounded-3"
                     style="margin-right: 20px; padding: 20px;">
                    <div class="item_resume">
                        <span class="resume_correction h5 fw-bold">회원 정보 수정</span>
                        <div class="correction_list p-3 d-flex pt-0 border-top pt-3 mt-3">
                            <form action="/myPage" class="w-100" method="post">
                                <div class="list_name pb-3">
                                    <div>아이디</div>
                                    <input class="w-100 py-1 border border-secondary rounded-1" type="text"
                                           name="username" id="username" value ="userid">
                                </div>
                                <div class="list_name pb-3">
                                    <div>패스워드</div>
                                    <input class="w-100 py-1 border border-secondary rounded-1" type="text"
                                           name="password" id="password"value= "12345">
                                </div>
                                <div class="list_phone pb-3">
                                    <div>tel</div>
                                    <input class="w-100 py-1 border border-secondary rounded-1" type="tel"
                                           name="phone" id="phone"value="12345">
                                </div>
                                <div class="list_email pb-3">
                                    <div>이메일</div>
                                    <input class="w-100 py-1 border border-secondary rounded-1" type="email"
                                           name="email" id="email"value="ssar@nate.com">
                                </div>
                                <div class="list_address pb-3">
                                    <div>주소</div>
                                    <input class="w-100 py-1 border border-secondary rounded-1" type="text"
                                           name="address" id="address" value="부산">
                                </div>
                                <div class="mb-3 mt-1">
                                    <label class="form-label">이미지 업로드</label><br>
                                    <img src="/images/userImage_01.png" style="height: 250px; width: 200px;" class="rounded mx-auto d-block border border-dark">
                                    <input type="file" name="image" accept=/images/userImage_01.png" style="margin-top: 20px;">
                                </div>
                                <button type="submit" class="btn btn-outline-dark">회원 정보 수정 완료</button>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {{> layout/sidebar}}
        </div>
    </div>
</main>


{{> layout/footer}}