<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!--jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <!--FontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- 헤더 -->
    <header class="w-100 bg-white">
        <nav class="navbar navbar-expand-sm bg-withe navbar-withe border-bottom d-flex justify-content-between pb-3 pt-3"
            style="padding: 30px 150px;">
            <div class="container-fluid mx-5">
                <a class="navbar-brand" href="../index/index.html">
                    <img src="../../../../../../Users/ehdgn/OneDrive/Desktop/project_team3/project_team3/img/shine_logo.png" style="height: 60px; width: 150px;">
                </a>
                <div class="d-flex justify-content-start">
                    <form action="../index/index.html" class="d-flex justify-content-center">
                        <input type="search" class="form-control border-0" placeholder="통합 검색">
                        <button class="btn btn-outline-success border-0 text-black" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="../../../../../../Users/ehdgn/OneDrive/Desktop/project_team3/project_team3/user/joinForm.html">회원가입</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../../../../../Users/ehdgn/OneDrive/Desktop/project_team3/project_team3/user/loginForm.html">로그인</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../index/index.html">로그아웃</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../../../../../../Users/ehdgn/OneDrive/Desktop/project_team3/project_team3/userMyPage/myPageIndex.html">마이페이지</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../board/boardList1.html">게시판</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="search_result_ui bg-light" style="padding: 30px 200px;">
        <div class="ui_content d-flex justify-content-center">
            <div class="content_list" style="width: calc(100% - 300px);">
                <div class="list_item d-flex justify-content-center flex-column w-100 bg-white rounded-3"
                    style="margin-right: 20px;padding: 20px;">
                    <div class="item_result border-0 w-100 d-flex" style="padding: 20px 0px;">
                        <div class="content_logo h-100" style="width: 100px;">
                            <img class="logo_size mw-100 w-100"
                                src="https://mblogthumb-phinf.pstatic.net/MjAyMTA4MDRfMjk0/MDAxNjI4MDg2MDEwNTY4.TTh8QJAkzwBZZpKSw8OpIK83JQ8dBBI5qBu9uWvgrKUg.X2keaCQ5fJkyx05OOlVYwKPi3ynq0_oqHv-UFqLyGsQg.PNG.cha-cha97/%EC%B6%98%EC%8B%9D%EC%9D%B4%EF%BC%BF001.png?type=w800">
                        </div>
                        <div class="content_item" style="width: calc(100% - 120px);">
                            <div class="item_box d-flex justify-content-left ml-5" style="min-height: 10px;">
                                <div class="logo_name">
                                    <a class="name_company h5 fs-5 text-black text-decoration-none"
                                        href="../../../../../../Users/ehdgn/OneDrive/Desktop/project_team3/project_team3/notice/notice.html">회사이름1</a>
                                    <div class="name_intrd text-black-50">회사소개1</div>
                                </div>
                            </div>
                            <hr>
                            <div class="conmtent_detail">
                                <div class="detail_job_name">
                                    <a class="text-black text-decoration-none"
                                        href="../../../../../../Users/ehdgn/OneDrive/Desktop/project_team3/project_team3/notice/noticeDetail.html">채용공고1</a>
                                </div>
                                <div class="detail_job_info">경력</div>
                                <div class="datail_job_dates">3/22 마감</div>
                            </div>
                        </div>
                    </div>
                    <div class="item_result border-0 w-100 d-flex border-top border-dark" style="padding: 20px 0px;">
                        <div class="content_logo h-100" style="width: 100px;">
                            <img class="logo_size mw-100 w-100"
                                src="https://mblogthumb-phinf.pstatic.net/MjAyMTA4MDRfMjk0/MDAxNjI4MDg2MDEwNTY4.TTh8QJAkzwBZZpKSw8OpIK83JQ8dBBI5qBu9uWvgrKUg.X2keaCQ5fJkyx05OOlVYwKPi3ynq0_oqHv-UFqLyGsQg.PNG.cha-cha97/%EC%B6%98%EC%8B%9D%EC%9D%B4%EF%BC%BF001.png?type=w800">
                        </div>
                        <div class="content_item" style="width: calc(100% - 120px);">
                            <div class="item_box d-flex justify-content-left ml-5" style="min-height: 10px;">
                                <div class="logo_name">
                                    <a class="name_company h5 fs-5 text-black text-decoration-none"
                                        href="../../../../../../Users/ehdgn/OneDrive/Desktop/project_team3/project_team3/notice/notice.html">회사이름2</a>
                                    <div class="name_intrd text-black-50">회사소개2</div>
                                </div>
                            </div>
                            <hr>
                            <div class="conmtent_detail">
                                <div class="detail_job_name">
                                    <a class="text-black text-decoration-none"
                                        href="../../../../../../Users/ehdgn/OneDrive/Desktop/project_team3/project_team3/notice/noticeDetail.html">채용공고2</a>
                                </div>
                                <div class="detail_job_info">신입/경력</div>
                                <div class="datail_job_dates">4/5 마감</div>
                            </div>
                        </div>
                    </div>
                    <div class="item_result border-0 w-100 d-flex border-top border-dark" style="padding: 20px 0px;">
                        <div class="content_logo h-100" style="width: 100px;">
                            <img class="logo_size mw-100 w-100"
                                src="https://mblogthumb-phinf.pstatic.net/MjAyMTA4MDRfMjk0/MDAxNjI4MDg2MDEwNTY4.TTh8QJAkzwBZZpKSw8OpIK83JQ8dBBI5qBu9uWvgrKUg.X2keaCQ5fJkyx05OOlVYwKPi3ynq0_oqHv-UFqLyGsQg.PNG.cha-cha97/%EC%B6%98%EC%8B%9D%EC%9D%B4%EF%BC%BF001.png?type=w800">
                        </div>
                        <div class="content_item" style="width: calc(100% - 120px);">
                            <div class="item_box d-flex justify-content-left ml-5" style="min-height: 10px;">
                                <div class="logo_name">
                                    <a class="name_company h5 fs-5 text-black text-decoration-none"
                                        href="../../../../../../Users/ehdgn/OneDrive/Desktop/project_team3/project_team3/notice/notice.html">회사이름3</a>
                                    <div class="name_intrd text-black-50">회사소개3</div>
                                </div>
                            </div>
                            <hr>
                            <div class="conmtent_detail">
                                <div class="detail_job_name">
                                    <a class="text-black text-decoration-none"
                                        href="../../../../../../Users/ehdgn/OneDrive/Desktop/project_team3/project_team3/notice/noticeDetail.html">채용공고3</a>
                                </div>
                                <div class="detail_job_info">경력</div>
                                <div class="datail_job_dates">7/11 마감</div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav class="d-flex justify-content-center pt-3" aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link text-black" href="#">이전</a></li>
                        <li class="page-item"><a class="page-link text-black" href="#">1</a></li>
                        <li class="page-item"><a class="page-link text-black" href="#">다음</a></li>
                    </ul>
                </nav>
            </div>
            <div class="content_sidebar d-flex flex-column bg-white rounded-3"
                style="width: 300px;height: 120px;margin: 0px 20px;padding: 20px;">
                <span class="h5 fw-bold">채용 정보 검색</span>
                <form class="sidebar_box d-flex justify-content-center" action="../index/index.html">
                    <input type="search" class="sidebar_box_input form-control mr-5" placeholder="검색">
                    <button class="btn btn-outline-success border-0" type="submit">
                        <i class="fas fa-search text-black"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <footer style="padding: 30px 200px;">
        <div class="border-top border-top-0">
            <span class="h4">Created by Team 3</span>
            <hr>
            <div class="d-flex lh-lg">
                <a href="#" class="text-black text-decoration-none pe-3">회사소개</a>
                <a href="#" class="text-black text-decoration-none pe-3">고객센터</a>
                <a href="#" class="text-black text-decoration-none pe-3">오시는길</a>
                <a href="#" class="text-black text-decoration-none pe-3">서비스 소개</a>
                <a href="#" class="text-black text-decoration-none pe-3">서비스 약관</a>
                <a href="#" class="text-black text-decoration-none pe-3">도움말</a>
            </div>
            <hr>
            <div class="d-flex flex-column">
                <span class="lh-lg">☎ 010-2222-7777</span>
                <span class="fw-bold">© 2023. Alicorn, Inc. all rights reserved.</span>
            </div>
        </div>
    </footer>
</body>

</html>