{{> layout/header}}

<div class="search_result_ui bg-light" style="padding: 30px 200px;">
    <div class="ui_content d-flex justify-content-center">
        <div class="content_list" style="width: calc(100% - 300px);">
            <div class="list_item d-flex justify-content-center flex-column w-100 bg-white rounded-3"
                 style="margin-right: 20px;padding: 20px;">
                {{#isLoginUser}}
                    <span class="resume_correction h5 fw-bold">이력서 목록</span>
                {{/isLoginUser}}
                {{^isLoginUser}}
                    <span class="resume_correction h5 fw-bold">공고 목록</span>
                {{/isLoginUser}}
                <div class="correction_list p-3 pt-0 border-top pt-3 mt-3">

                    {{#resumeList}}
                        <div class="w-100">
                            <div class="card mb-3">
                                <div class="card-body d-flex justify-content-between text-secondary m-2">
                                    <div class="d-flex justify-content-start">
                                        <div class="content_logo h-100" style="width: 100px;">
                                            <img class="logo_size mw-100 w-100"
                                                 src="/images/{{imageFileName}}">
                                        </div>
                                        <div>
                                            <p class="card-title mb-0"><strong>{{title}}</strong></p>
                                            <p class="card-text mb-0"><small>이름 : {{username}} </small></p>
                                            <p class="card-text"><small>보유 기술 : {{#skills}}
                                                [ {{name}} ] {{/skills}}</small></p>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column justify-content-center">
                                        <a href="/resumes/{{id}}/detail"
                                           class="btn btn-outline-secondary">상세보기
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/resumeList}}

                </div>

                {{#noticeList}}
                    <div class="item_result border-0 w-100 d-flex border-top border-dark" style="padding: 20px 0px;">
                        <div class="content_logo h-100" style="width: 100px;">
                            <img class="logo_size mw-100 w-100"
                                 src="/images/{{imageFileName}}">
                        </div>
                        <div class="content_item" style="width: calc(100% - 120px);">
                            <div class="item_box d-flex justify-content-between ml-5" style="min-height: 10px;">
                                <div class="logo_name">
                                    <a class="name_company h5 fs-5 text-black text-decoration-none"
                                       href="/notices/{{id}}">{{title}}</a>
                                    <div class="name_intrd text-black-50">회사소개</div>
                                </div>
                            </div>
                            <hr>
                            <div class="content_detail">
                                <div class="detail_job_name">
                                    <a class="text-black text-decoration-none"
                                       href="/notices/{{id}}">{{title}}</a>
                                </div>
                                <div class="detail_job_dates">마감일 : {{deadline}}</div>
                            </div>
                        </div>
                    </div>
                {{/noticeList}}

            </div>
            <nav class="d-flex justify-content-center pt-3" aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link text-black" href="#">이전</a></li>
                    <li class="page-item"><a class="page-link text-black" href="#">1</a></li>
                    <li class="page-item"><a class="page-link text-black" href="#">다음</a></li>
                </ul>
            </nav>
        </div>
        <div class="content_sidebar d-flex flex-column bg-white rounded-3"
             style="width: 300px;height: 120px;margin: 0px 20px;padding: 20px;">
            <span class="h5 fw-bold">보유 기술 검색</span>
            <form class="sidebar_box d-flex justify-content-center" action="/" method="get">
                <input type="search" class="sidebar_box_input form-control mr-5" placeholder="검색" name="skillName">
                <button class="btn btn-outline-success border-0" type="submit">
                    <i class="fas fa-search text-black"></i>
                </button>
            </form>
        </div>
    </div>
</div>

{{> layout/footer}}